/**
 * Lateral Menu Styles
 * --------------------------------------------------
 */

 .#{$site-name} {
   .main-lateral-panel{
     padding-right: 0px;
     padding-left: 10px;
     padding-top: 10px;
     .pane-content{
       ul{
         background-color: $lateral-menu-bg !important;
         & > li{
           font-size: 15px !important;
           width: 100%;
           border-bottom: 1px solid white;
           &:hover{
             background-color: $lateral-menu-hover-bg;
             }
           & > a{
             padding: 10px 5px !important;
             &:hover{
               text-decoration: none !important;
             }
           }
         }
       }
     }
   }
 }
