<h2>Historico atencion educacion formal para adultos en Colombia ciclo 1er al 6to periodo </h2>
<p>Para el tema de Alfabetización – ciclo I y demás ciclos lectivos especiales integrados se han atendido desde el 2003 a 2016 diferentes tipos de poblaciones como campesina y rural, reintegrados, situación de desplazamiento, discapacidad, víctimas del conflicto, entre otras, el objetivo fundamental, garantizar el derecho a la educación de estas personas que por diversas situaciones no ingresaron al sistema o no pudieron graduarse. La tabla a continuación muestra el comportamiento de matrícula en este tiempo, así:</p>
<!-- Tabla 1-->
<!-- 
<table>

</table>s
 -->


<script src="../js/angular.min.js"></script>
<script src="../js/CsvTableCtrl.js"></script>



 <div  ng-app = 'snippet'>
 		<div ng-controller="CsvTableCtrl as ctrl" class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th ng-repeat="cell in t1.header track by $index" ng-bind="cell">
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in t1.data">
					<td ng-repeat="cell in row track by $index" ng-bind="cell">
					</td>
				</tr>		
			</tbody>
		</table>
		</div>
 </div>
<p>Así mismo, se coasdasdmparte este espacio información referente a la educación formal de jóvenes y adultos desde el sector oficial y no oficial de acuerdo al reporte entregado por parte de la Oficina Asesora de Planeación y Finanzas del Ministerio de Educacion Nacional, como muestra la siguiente tabla:</p>

<!-- Tabla 2-->

<table></table>
<p>A continuación se presenta el total de la matrícula para los sectores oficial y no oficial, desde el año 2003 al 2015.</p>

<!-- Falta imagen --> 

<p>Además es importante relacionar la información correspondiente a la atención de la población joven y adulta con discapacidad  </p>

<!-- Tabla 3 -->


<h3>Tasas de analfabetismo de las entidades territoriales certificadas</h3>

<p>En este espacio se da a conocer las tasas de analfabetismo que se reportan desde el DANE de acuerdo a los resultados obtenidos desde la Gran Encuentra Integrada de Hogares 2014 y el censo  2005, la cual sirve de información para las entidades territoriales, las organizaciones y las diversas instituciones del país. En este proceso se tiene la siguiente información:</p>

<!-- Tabla gigante e imagen -->